body {
    direction: rtl;
    font-family: BYekan !important;
}

@font-face {
    font-family: BYekan;
    src: url('../fonts/BYekan+.ttf');
}

#formContent {
    margin-top: 15%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    /*max-width: 450px;*/
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#all-posts {
    text-align: right;
    direction: rtl;

}

.post-preview {
    border-bottom: 1px silver solid;
    padding: 10px 0px;
}

.post-preview .post-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
}
